body{
    width: 100%;
    margin:auto;
}


header{
    background-color: rgb(27, 121, 89);
    height          : 50px;
    position        : static;
    padding         : 8px 16px;
}

nav ul li a {

    text-decoration: none;
    color          : white;
    font-weight    : bold;
    margin-left    : 1000px;
    margin-bottom  : 20px;
    padding        : 8px 16px;
    position: absolute;
   


}

#about{
 
    margin: 800px;
    margin-top: 10px;
}
#home{
   margin-bottom: 60px;
    
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
   
    color: rgb(10, 55, 114);


}

footer{
    background-color:rgb(27, 121, 89);
    color: white;
    text-align: center;
    margin-top: auto;
}

#aboutme{
    text-align: center;
    color: white;
    background-color: rgb(87, 128, 87);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}